<ul>
<% for blip in @blips %>
  <li class="<%= blip.source %>">
    <a href="<%= blip.source_url %>"><img src="images/<%= blip.source %>.png"></a>
    <b><%= blip.shortdate %></b>
    <%= blip.title %>
  </li>
<% end %>
</ul>