<!DOCTYPE html>
<html>
  <head>
    <title>Phillip's Social Feed</title>
    <link rel="stylesheet" href="stylesheets/komunektiv.css" type="text/css" />
  </head>
  <body>
    <%= yield %>
  </body>
</html>