body { background: #333; color: #776; font-family: "Lucida Grande","Lucida Sans",sans-serif; font-size: 11px; line-height: 24px;}

ul { 
    background-color: #8888ff; 
    border: 1px solid #4444aa;
    -moz-border-radius: 25px; -webkit-border-radius: 25px; border-radius: 25px;
    list-style: none; 
    margin: 0 auto; 
    padding: 20px; 
    width: 400px;
}

li { 
    border-top: 2px solid #fff;
    border-left: 1px solid #eee;
    border-right: 2px solid #fff;
    border-bottom: 1px solid #eee;
    background-color: #fffffa;
    background-position: 15px center;
    background-repeat: no-repeat;
    padding: 15px 15px 15px 15px;
}

li img {
  display: block;
  float: left;
  margin-right: 15px;
}

li b { 
  background-color: #776;
  -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
  color: #fff; 
  display: block; 
  float: left; 
  font-size: 9px;
  line-height: 9px;
  margin-right: 5px;
  padding: 5px;
}